.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 65px 330px 330px;
}

.with-spinner{
  position: relative;
}

.canvas {
  border:1px solid #172e6b;
  width: 330px;
  height: 330px;
}

.canvas3 {
  border:1px solid #172e6b;
  width: 330px;
  height: 330px;
}

.canvas4 {
  border:1px solid #172e6b;
  width: 400px;
  height: 300px;
}

.canvas5 {
  border:1px solid #172e6b;
  width: 380px;
  height: 540px;
}

.image-to-src {
  display: none;
}

.button-container {
  width: 100%;
}

button {
  background-color: #4a5d9b !important;
}
