<div class="container">
  <div class="color-pallet">
    <div class="color-with-slider">
      <div class="text">R</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput type="number" min="0" max="255" [(ngModel)]="redCommon" (change)="onChangeInput()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="255" step="1" value="100" (input) ="OnSliderRedChange($event)" [(ngModel)]="redCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">G</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput type="number" min="0" max="255" [(ngModel)]="greenCommon" (change)="onChangeInput()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="255" step="1" value="100" (input) ="OnSliderGreenChange($event)" [(ngModel)]="greenCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">B</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput type="number" min="0" max="255" [(ngModel)]="blueCommon" (change)="onChangeInput()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="255" step="1" value="100" (input) ="OnSliderBlueChange($event)" [(ngModel)]="blueCommon"></mat-slider>
    </div>
  </div>
  <div class="color-pallet">
    <div class="color-with-slider">
      <div class="text">X</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="xCommon" (change)="onChangeInputXYZ()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input)="OnSliderXChange($event)" [(ngModel)]="xCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">Y</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="yCommon" (change)="onChangeInputXYZ()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input) ="OnSliderYChange($event)" [(ngModel)]="yCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">Z</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="zCommon" (change)="onChangeInputXYZ()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input)= "OnSliderZChange($event)" [(ngModel)]="zCommon"></mat-slider>
    </div>
  </div>
  <div class="color-pallet">
    <div class="color-with-slider">
      <div class="text">H</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="hCommon" (change)="onChangeInputHSV()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input)="OnSliderHChange($event)" [(ngModel)]="hCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">S</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="sCommon" (change)="onChangeInputHSV()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input) ="OnSliderSChange($event)" [(ngModel)]="sCommon"></mat-slider>
    </div>
    <div class="color-with-slider">
      <div class="text">V</div>
      <mat-form-field class="example-margin">
        <label>
          <input matInput min="0" max="1" [(ngModel)]="vCommon" (change)="onChangeInputHSV()">
        </label>
      </mat-form-field>
      <mat-slider color="accent" class="slider" min="0" max="1" step="0.01" value="0.3" (input)= "OnSliderVChange($event)" [(ngModel)]="vCommon"></mat-slider>
    </div>
  </div>
  <div [style.background]="rgbColor"
       [cpOutputFormat]="'rgba'"
       [(colorPicker)]="rgbColor"
       (colorPickerChange)="colorPickerSelcted($event)"
       id="common" class="common-color" >
  </div>
</div>
