<div class="container">
  <button [disabled]="!(spinnerSelector === 0 || spinnerSelector === 1)" mat-raised-button class="draw-button" color="accent" (click)="spinnerSelector = 1; spinner.show(); onDraw()">D<br>r<br>a<br>w<br></button>
  <canvas id="canvas" class="canvas"></canvas>
  <div class="with-spinner">
    <ngx-spinner *ngIf="spinnerSelector === 1" bdColor = "rgba(59,74,255,0)" size = "large" type = "ball-clip-rotate-multiple" [fullScreen] = "false"></ngx-spinner>
    <canvas id="canvas2" class="canvas" style="background-color: #4a5d9b"></canvas>
  </div>
  <button mat-raised-button [disabled]="!(spinnerSelector === 0 || spinnerSelector === 2)" class="draw-button" color="accent" (click)="spinnerSelector = 2; spinner.show(); onDraw2()">D<br>r<br>a<br>w<br></button>
  <canvas id="canvas3" class="canvas3"></canvas>
  <div class="with-spinner">
    <ngx-spinner *ngIf="spinnerSelector === 2" bdColor = "rgba(59,74,255,0)" size = "large" type = "ball-clip-rotate-multiple" [fullScreen] = "false"></ngx-spinner>
    <canvas id="canvas4" class="canvas3" style="background-color: #4a5d9b"></canvas>
  </div>
  <button mat-raised-button [disabled]="!(spinnerSelector === 0 || spinnerSelector === 3)" class="draw-button" color="accent" (click)="spinnerSelector = 3; spinner.show(); onDraw3()">D<br>r<br>a<br>w<br></button>
  <canvas id="canvas5" class="canvas3"></canvas>
  <div class="with-spinner">
    <ngx-spinner *ngIf="spinnerSelector === 3" bdColor = "rgba(59,74,255,0)" size = "large" type = "ball-clip-rotate-multiple" [fullScreen] = "false"></ngx-spinner>
    <canvas id="canvas6" class="canvas3" style="background-color: #4a5d9b"></canvas>
  </div>
  <button mat-raised-button [disabled]="!(spinnerSelector === 0 || spinnerSelector === 4)" class="draw-button" color="accent" (click)="spinnerSelector = 4; spinner.show(); onDraw4()">D<br>r<br>a<br>w<br></button>
  <canvas id="canvas7" class="canvas3"></canvas>
  <div class="with-spinner">
    <ngx-spinner *ngIf="spinnerSelector === 4" bdColor = "rgba(59,74,255,0)" size = "large" type = "ball-clip-rotate-multiple" [fullScreen] = "false"></ngx-spinner>
    <canvas id="canvas8" class="canvas3" style="background-color: #4a5d9b"></canvas>
  </div>
</div>
<img id="source" src='assets/carnum2.jpg' class="image-to-src">
<img id="source2" src='assets/dino2.jpg' class="image-to-src">
<img id="source3" src='assets/city.jpeg' class="image-to-src">
<img id="source4" src='assets/river.jpeg' class="image-to-src">

